.appListItem {
    font-size: 1.25rem;
}

.appListItem button {
    width: 50px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.appListItem button:focus {
    box-shadow: none;
    outline: none;
}
.appListItem .btnStar {
    color: #aeaeae;
}
.appListItem .btnTrash {
    color: red;
}
.appListItem .faHeart {
    /*width: 35px;*/
    /*height: 35px;*/
    /*text-align: center;*/
    /*line-height: 35px;*/
    /*font-size: 16px;*/
    color: #aeaeae;
    /*transition: 0.3s all;*/
    /*transform: translateX(30px);*/
    /*opacity: 0;*/
}

.appListItemLabel {
    display: block;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
    /*color: cornflowerblue;*/
}

.appListItemLike .faHeart {
    opacity: 1;
    transform: translateX(0px);
}

.appListItemImportant {
    color: #FFD700;
}

.appListItemImportant .appListItemLabel {
    color: #FFD700;
}

.appListItemImportant .btnStar {
    color: #FFD700;
}

.liked .faHeart {
    color: red;
}

